<!DOCTYPE html>
<html lang="id">

<head>
  <title>Daftar Situs Tanggap COVID-19</title>

  <meta charset="utf-8" />
  <meta name="theme-color" content="#FFFFFF" />
  <meta name="msapplication-navbutton-color" content="#FFFFFF" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="title" content="Daftar Situs Tanggap COVID-19" />
  <meta name="description" content="Daftar situs tanggap COVID-19 milik Pemerintah Pusat, Pemerintah Daerah, dan lainnya." />
  <meta name="author" content="hanifmu.com" />

  <link rel="preconnect" href="https://corona.hanifmu.com" />
  <link rel="preconnect" href="https://raw.githubusercontent.com" />
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" />

  <link rel="dns-prefetch" href="https://corona.hanifmu.com" />
  <link rel="dns-prefetch" href="https://raw.githubusercontent.com" />
  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com" />

  <link rel="preload" as="style" href="https://corona.hanifmu.com/assets/css/style.css?v=e5258df69038ed3704a62cc2ca10aab8f2ec6070">
  <link rel="preload" as="script" crossorigin="anonymous" integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" href="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" />
  <link rel="preload" as="script" crossorigin="anonymous" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" href="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" />

  <meta property="og:locale" content="id_ID" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="corona.hanifmu.com" />
  <meta property="og:url" content="https://corona.hanifmu.com/pranala/" />
  <meta property="og:title" content="Daftar Situs Tanggap COVID-19" />
  <meta property="og:description" content="Daftar situs tanggap COVID-19 milik Pemerintah Pusat, Pemerintah Daerah, dan lainnya." />
  <meta property="og:image" content="https://raw.githubusercontent.com/muhammadhanif/corona/master/image/pranala.png" />
  <meta property="og:image:secure_url" content="https://raw.githubusercontent.com/muhammadhanif/corona/master/image/pranala.png" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:url" content="https://corona.hanifmu.com/pranala/">
  <meta name="twitter:title" content="Daftar Situs Tanggap COVID-19" />
  <meta name="twitter:description" content="Daftar situs tanggap COVID-19 milik Pemerintah Pusat, Pemerintah Daerah, dan lainnya." />
  <meta name="twitter:image" content="https://raw.githubusercontent.com/muhammadhanif/corona/master/image/pranala.png" />

  <link rel="canonical" href="https://corona.hanifmu.com/pranala/" />
  <link rel='shortcut icon' type='image/x-icon' href='https://raw.githubusercontent.com/muhammadhanif/muhammadhanif.github.io/master/assets/images/hanifmu-ico.png' />

  <link rel="stylesheet" href="https://corona.hanifmu.com/assets/css/style.css?v=e5258df69038ed3704a62cc2ca10aab8f2ec6070">

  <style>
    .footer {
      padding-top: 2rem;
      font-size: 0.7rem;
    }
  </style>
</head>

<body>
  <div class="container-lg px-3 my-5 markdown-body" id="pranala">
    <h1><a href="https://corona.hanifmu.com/">corona.hanifmu.com</a></h1>

    <h1 v-html="page.name"></h1>

    <p v-html="page.description"></p>

    <template v-for="data in pranala">
      <h2 v-html="data.attributes.group_name"></h2>

      <ul>
        <template v-for="list in data.attributes.lists">
          <li><a target="_blank" :href="list.url" v-html="list.name"></a></li>
        </template>
      </ul>
    </template>

    <div class="footer">
      <blockquote>
        <div v-html="'<code>Diperbarui:</code> ' + date"></div>
        <div v-html="'<code>Pranala:</code> ' + message"></div>
      </blockquote>
      <blockquote>
        Beri tahu kami bila anda mengetahui situs tanggap COVID-19. Hubungi kami melalui telegram: <code><a target="_blank" href="https://t.me/muhammad_hanif">@muhammadhanif</a></code> atau email: <code><a target="_blank" href="mailto:moehammadhanif@gmail.com">moehammadhanif@gmail.com</a></code>.
      </blockquote>
    </div>

  </div>

  <script crossorigin="anonymous" integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
  <script crossorigin="anonymous" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>

  <script type="text/javascript">
    moment.locale('id');

    new Vue({
      el: "#pranala",
      data: {
        pranala: [],
        page: [],
        date: '',
        message: ''
      },

      async mounted() {
        await axios
          .get('https://corona.hanifmu.com/pranala/pranala.json')
          .then(json => [
            this.pranala = json.data.features,
            this.page = json.data.page[0],
          ])
          .catch(error => {
            console.log(error)
          });

        await axios
          .get('https://api.github.com/repos/muhammadhanif/corona/commits?path=pranala/pranala.json')
          .then(json => [
            this.date = moment(json.data[0].commit.committer.date).format("LLL"),
            this.message = json.data[0].commit.message,
          ])
          .catch(error => {
            this.date = '-',
            this.message = '-'
          })
      }
    })
  </script>

</body>

</html>
